body {
  background-color: #eee;
}

h1 {
  color: #333;
}

.App{
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

table{
  width: 100%;
  text-align: center;
}

th, td{
  padding: 12px;
  border-bottom: 1px solid #e1e1e1;
}

th:first-child, td:first-child{
  padding-left: 0; 
}

th:last-child, td:last-child{
  padding-right: 0;
}